@CHARSET "UTF-8";
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
h1 {
  font-size: 14px;
  line-height: 40px;
}
.navbar-inner:before,
.navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar-inner:after {
  clear: both;
}



.navbar {
  position: relative;
  z-index: 20;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 3px #cccccc;
  -moz-box-shadow: 0px 0px 3px #cccccc;
  box-shadow: 0px 0px 3px #cccccc;
}
.navbar .brand {
  text-shadow: none;
}
.navbar .navbar-inner {
  background: #4d5b76;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d5b76), color-stop(1, #6c7a95));
  background: -ms-linear-gradient(bottom, #4d5b76, #6c7a95);
  background: -moz-linear-gradient(center bottom, #4d5b76 0%, #6c7a95 100%);
  background: -o-linear-gradient(bottom, #4d5b76, #6c7a95);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6c7a95',EndColorStr='#4d5b76')";
  padding: 0em 1em;
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px;
  border-bottom: none;
}
.navbar .nav {
  margin: 0em;
  margin-right: -1em;
}
.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}
.navbar .nav > li:hover {
  background-color: #444;
}
.navbar .nav > li > a:hover {
  color: #fff;
}
.navbar .dropdown-menu a:hover {
  background: none;
  color: #000;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #444;
  color: #fff;
}

#homeBody{height:99%;width:99.5%;border:3px solid #438ad4;overflow:hidden;}
#header{width:100%;}
#mainContent{width:100%;}
#leftFrameCanvas{padding-left:1px; width:190px;border-right:2px solid #438ad4; float: left;}
#menu_container{overflow: auto;}
#main_frame{display:block; border:0px solid red;}
#footer{width:100%;height:20px;background: #336699;text-align: center;display: block;padding-top:6px;}
#footer span{color: #FFF;font-size:10pt;}

/* header */
#header .top{border-bottom:1px solid #3362a6;overflow:hidden;}
#header .top_bg{height:82px;overflow:hidden;}
#header .top_left{float:left;height:82px;width:430px;}
#header .top_center_logo{left:40%; position:absolute;font-size:22pt;padding-top:14px;width:auto;}
#header .top_right{float:right; height:82px;width:380px;}
#header .logo{float:left;padding-left:10px;padding-top:10px;font-size:16pt;font-weight:bolder; }
#header .logo label{float:right;font-size:16pt;}
#header .company{position:absolute;left:220px;z-index:1;padding-top:50px;overflow:hidden;}
#header .company span{display:block;height:20px;overflow:hidden;line-height:1.5;color:#111;font-size:16px;}
#header .current_warehouse{position:absolute;top:60px;font-size:12pt;right:10px;width:auto;height:30px;}

#header .site{position:absolute;right:10px; z-index:1;}
#header .site_links {float:left;height:34px;line-height:34px;padding:0 4px;font-weight:normal;background-position:0 -163px;}
#header .site_links li{float:left;color:#111;}
#header .site_links a{color:#111;}
#header .site_links a:hover{text-decoration:underline;}
#header .site_links .sep{padding:0 6px;}
#header .site_links .user a{font-weight:bold;}
#header .site_links .msg{width:35px;text-align:center;background-position:-203px 6px;}
#header .site_links .msg a{color:#ff2a00;}

#header .notice{padding-top:30px;font-size:16pt;}

